@inherits AppBase

<div class="navbar-container">
    <Navbar />
</div>

<div class="main-container">
    <main>
        <div>
            <div class="panel">
                <div class="header">
                    <select @onchange=OnFilterSelected>
                        <option value="@FiltersEnum.ShowAll">Show All</option>
                        <option value="@FiltersEnum.WithLabels">With labels</option>
                        <option value="@FiltersEnum.WithoutLabels">Without Labels</option>
                    </select>
                    <button class="next" @onclick=ShowNextTextSample>
                        Next
                    </button>
                </div>
                <div class="content">
                    <p class="text-sample">
                        @CurrentTextSample.Value
                    </p>

                    <div class="text-label-container">
                        @foreach (var label in CurrentTextSample.Labels)
                        {
                            <div class="text-label" @key=label.Id>
                                <div class="text">@label.Name</div>
                                <button @onclick="(() => RemoveLabel(label))">X</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div>
            <LabelsControl LabelSelected=@AddLabel />
        </div>
    </main>
</div>